altgraph==0.17.4
click==8.1.7
distlib==0.3.9
filelock==3.16.1
h11==0.14.0
packaging==24.1
pefile==2023.2.7
platformdirs==4.3.6
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6-WebEngine==6.7.0
PyQt6-WebEngine-Qt6==6.7.3
PyQt6-WebEngineSubwheel-Qt6==6.7.3
PyQt6_sip==13.8.0
pyserial==3.5
pywin32-ctypes==0.2.3
PyYAML==6.0.2
setuptools==75.1.0
uvicorn==0.32.1
virtualenv==20.27.1
wheel==0.44.0
